body{
    background: grey;
    font-size: 20px;
    color: #000000;
}
.wrapper{
    width: 100%;
    background: yellow;
}

header{
    width: 100%;
    height: 44px;
    background: #ffffff;
}
.col-1{
    width: 20%;
    height: 44px;
    float: left;
}
.col-2{
    width: 60%;
    height: 44px;
    float: left;
    text-align: center;
    color: #f6755e;
}
.col-3{
    width: 20%;
    height: 44px;
    float: left;
}


.hero{
    width: 100%;
    height: 477px;
    background: orange;
}
.articles{
    width: 100%;
    height: 200px;
    background: pink;
}
.highlights{
    width: 100%;
    height: 200px;
    background: purple;
}
.latest-news{
    width: 100%;
    height: 250px;
    background: rgb(59, 59, 238);
}
footer{
    width: 100%;
    height: 150px;
    background: green;
}