@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf');
}

body{
    margin: 0;
    padding: 0;
    background: grey;
    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    width: 100%;
    background: yellow;
}

/* GENERAL STYLING */
header{
    width: 100%;
    height: 44px;
    background: #fff;
    float: left;
}
header .col-1{
    width: 20%;
    height: 44px;
    float: left;
}
header .col-2{
    width: 60%;
    height: 44px;
    float: left;
    text-align: center;
    color: #f6755e;
    font-family: 'Pacifico';
}
header .col-3{
    width: 20%;
    height: 44px;
    float: left;
}
header .col-3 a{
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-top: 8px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #DEE1E3;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}
header .col-3 a:hover{
    background-color: #DEE1E3;
}


/* HERO SECTION */
.hero{
    float: left;
    width: 100%;
    height: 477px;
    background: #fff url('../imgs/banner.jpg') top center no-repeat;
    background-size: cover;
}

.hero-content{
    width: 50%;
    min-height: 150px;
    margin-inline: auto;
    margin-top: 100px;
    text-align: center;
}

.hero-content .title{
    color: #25A2C3;
    margin-bottom: 10px;
    font-size: 44px;
}

.hero-content .description{
    color: #000000;
    margin-bottom: 40px;
    font-size: 22px;
    padding: 10px 0;
    line-height: 30px;
}

.hero-content .btn{
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #F6755E;
    color: #fff;
}


/* ARTICLES SECTION */
.articles{
    float: left;
    width: 100%;
    background: #fff;
    padding: 40px 0;
}
.center-articles{
    width: 70%;
    margin: 0 auto;
}
.center-articles .col{
    width: 33.33%;
    float: left;
}

/* row style */
.center-articles .col .row{
    width: 70%;
    margin-bottom: 20px;
}
.center-articles .col-1 .row{
    float: right;
}
.center-articles .col-3 .row{
    float: left;
}

/* title style */
.center-articles .col h2{
    color: #25A2C3;
    margin-bottom: 30px;
}
.center-articles .col-1 h2{
    text-align: right;
}
.center-articles .col-3 h2{
    text-align: left;
}

/* paragraph style */
.center-articles .col p{
    text-align: justify;
}

.center-articles .col-2 .moldura{
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background: grey;
}

.center-articles .col-2 .moldura img{
    width: 100%;
}

/* HIGHLIGHTS SECTION */
.highlights{
    float: left;
    width: 100%;
    height: 200px;
    background: #f6755e;
    color: #fff;
}



.center-highlight .title{
    font-style: italic;
    font-size: 30px;
}

.center-highlight .description{
    font-size: 20px;
}


/* LATEST-NEWS SECTION */
.latest-news{
    float: left;
    width: 100%;
    height: 250px;
    background: rgb(59, 59, 238);
}

footer{
    float: left;
    width: 100%;
    height: 150px;
    background: green;
}